/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-content {
  width: auto;
  display: flex;
  flex-direction: row;
}

.content-area {
  width: 100%;
}

.site-main {
  width: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $color_solid_border;
}

.site-title {
  padding: 20px;
}

.site-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.site-footer {
  background: url("../../images/dark-wood.png");

  a {
    color: #fff;
  }
}

.footer-block-elements {
  display: flex;
}

.footer-block-element {
  margin: 3rem 0px;
  padding-right: 1.5rem;
}

.day-of-week {
  font-weight: bold;
}

.footer-block-element:last-child {
  padding-right: 0;
  width: 50%;
}

.text-logo {
  margin: 1rem 0px 0px;
  text-align: right;

  img {
    height: auto;
    max-width: 50%;
  }
}

.copyright-message {
  padding: 1.5rem 0px;
  color: #fff;
  text-align: center;
  margin: 0px -107px 0px 0px;
}

.hero-image-header {
  width: 100%;
  height: 100vh;
}

/* Posts and pages */

.entry-header {
  position: relative;
  width: auto;
}

.entry-title a {
  @include entry-data;
  max-width: 400px;
  text-overflow: wrap;
  top: 30px;
  font-size: 2.25rem;
  padding: 20px;
}

.entry-meta {
  @include entry-data;
  bottom: 10px;
  right: 325px;
  padding: 5px;
}

.entry-content {
  text-align: center;
  width: auto;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}