/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */
.black-btn,
.btn,
.white-btn,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    background: $color_green_brand;
    border: none;
    border-radius: 0;
    color: white;
    cursor: pointer;
    font-family: $font__alt;
    @include font-size(.9);
    line-height: 1;
    padding: ($base__space-unit / 2) $base__space-unit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
        background: darken($color_green_brand, 10%);
        color: white;
    }
}

.black-btn {
    @extend .btn;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.white-btn {
    @extend .btn;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


.black-btn,
.white-btn {

    &:hover,
    &:active,
    &:focus {
        background-color: $color_green_brand;
        border: 1px solid $color_green_brand;
        color: white;
    }
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;

    &:focus {
        color: #111;
        outline: none;
    }
}

input[type=email],
input[type=password],
input[type=search],
input[type=text],
input[type=url] {
    padding: .3rem;
}

textarea {
    padding-left: 3px;
    width: 100%;
}

fieldset {
    border: 0;
    padding: 0;
    padding-bottom: $base__space-unit / 2;
    margin: 0;
}

label {
    color: $color_purple_brand;
    display: block;
    font-family: $font__alt;
    @include font-size(1.1);
    margin-bottom: $base__space-unit / 3;
    text-transform: uppercase;

    .error404 & {
        display: inline-block;
    }
}

.search-field {
    transition: 0.2s all ease-in-out;
    width: 0px;

    &--active {
        display: block;
        width: 150px;
    }
}

.header-search {
    line-height: 1;
    padding-left: 1.5rem;

    label {
        margin: 0;
        width: 0px;
    }

    input[type=search] {
        border: 0;
        background: transparent;
        font-family: Novecento Sans Web,
            sans-serif;
        margin-left: .75rem;
        padding: 0 .3rem;
        text-transform: uppercase;
    }

    .search-toggle {
        color: #248a83;
        padding-top: .33rem;
    }

    fieldset {
        padding: 0;
    }
}

input:focus {
    outline: none;
}