/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 3rem;

  h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }

  .contact-meta {
    i {
      line-height: 1.8;
      margin-right: .5rem;
      width: 20px;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.widget-area {
  width: 27%;
  border-left: 2px solid $color_solid_border;
  padding-left: 5%;
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}